#container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#container canvas,
#modal {
  position: absolute;
  z-index: 10;
  background-color: whitesmoke;
  height: 480px;
  width: 300px;
  padding: 3%;
  justify-content: center;
  /* align-items: center; */
}
canvas {
  z-index: 1;
}

.ownedImage {
  height: 240px;
  background-color: #3c3c3c;
  padding: 5%;
}

.image {
  width: 45%;
  height: 115px;
  background-color: #3c3c3c;
  padding: 5%;
}

img {
  object-fit: contain;
  width: 100%;
}

#list {
  background-color: #aeaeae;
  height: 250px;
  overflow: scroll;
  padding: 10px;
}
